@{
    ViewData["Title"] = "Home -";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Empréstimos de Livros Online</h1>
    <p>Abra um Livro e deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/book.png" alt="" srcset="">
    </div>
</div>
