html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#mensagem-aviso.fade-out {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
